body {
  background-color: #2c3434;
}

h1 {
  color: silver;
}

#mship {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#dship {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#fship {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.mothership {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.defence {
  width: 50px;
  height: 50px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fighter {
  width: 50px;
  height: 50px;
  background-color: green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-container {
  margin: 50px;
  border: solid silver 2px;
  background-color: #09090a;
}

#head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
