@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

.navigation {
  height: 10vh;
  background-color: #28527a;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: #fafafa;
}

.button {
  display: block;
  width: 100px;
  background-color: #f0a500;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fafafa;
  border: none;
}
.button--form {
  width: 100%;
  background-color: #55a5f0;
}

.intro {
  text-align: center;
}
.intro .intro__heading {
  color: #28527a;
  font-size: 50px;
}
.intro .intro__subheading {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  margin: 20px 0px;
}
.intro .intro__button {
  margin: 0 auto;
}

.form {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form__input {
  margin-bottom: 20px;
}

.outro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outro-container .outro-container__thanks {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333333 !important;
}
.outro-container .outro-container__button {
  background-color: chartreuse;
  width: 100px;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

svg {
  width: 100%;
  margin-top: 0;
}

.wave {
  vertical-align: bottom;
}

.header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #55a5f0;
}

.footer {
  height: 40px;
  background-color: #28527a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .footer__logo {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: #fafafa;
}
.footer .footer__text {
  color: #fafafa;
}