.input-output-box {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0;
}

.input-value {
  width: 30%;
  border: solid 2px black;
}

.output-value {
  border: solid 2px black;
  height: 100px;
  font-size: 20px;
}