.converter {
  display: flex;
  flex-direction: column;
  border: 2px solid gold;
}

#input-box {
  display: flex;
  flex-direction: column;
}

#output-box {
  display: flex;
  flex-direction: column;
}

h1 {
  color: gold;
}
