@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$font-nav:"Special Elite", sans-serif;

.navigation {
    background-color:#3C3E42;
    height: 50px;
    padding: 10px;
    position: fixed;
    width: 100%;

        .navigation-menu {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            font-family: $font-nav;
        }
    }

#home {
    position: relative;
    left: 60px;
    top: 90px;
    font-family: $font-nav;
}

#yacht {
    background-image: url(images/_116512146_shutterstock_editorial_11592748a.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    height: 1100px;
}

.footer {
    background-color: #3C3E42;
    height: 50px;
    padding: 10px;
    position: fixed;
    width: 100%;

    .footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: $font-nav;
}
}