@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$font-nav:"Special Elite", sans-serif;





#home {
    position: relative;
    left: 40px;
    top: 30px;
    font-family: $font-nav;
}

.yacht {
    background-image: url(images/_116512146_shutterstock_editorial_11592748a.jpg);
}