@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$font-nav:"Special Elite", sans-serif;

.navigation {
    background-color:#3C3E42;
    color:#EEAB11;
    height: 50px;
    padding: 10px;

        .navigation-menu {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            font-family: $font-nav;

        }
    }

.home {
    background-image: url(images/_116512146_shutterstock_editorial_11592748a.jpg);
    width: 100%;
    height: auto;
}