#chess {
    background-image: url(images/kasparov.jpg);
}
#chimp {
    background-image: url(images/Chimp.jpeg);
}
#hockey {
    background-image: url(images/Hockey.jpg);
}
#penguin {
    background-image: url(images/Penguin.jpg);
}
#generic1 {
    background-image: url(images/Dog.jpg);
}
#generic2 {
    background-image: url(images/Hippo.jpeg);
}

.button {
    margin-top: 20px;
    border-radius: 20px;
    background-color: chartreuse;
}