.navigation {
    background-color:#3C3E42;
    height: 50px;
    padding: 10px;

        .navigation-menu {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            font-family: $font-nav;
        }
    }

.about {
    padding: 20px;
    color: royalblue;
    right: 20px;
    top: 40px;
    }