@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.navigation {
  background-color: #3C3E42;
  height: 50px;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.navigation .navigation-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: "Special Elite", sans-serif;
}

#home {
  position: relative;
  left: 60px;
  top: 90px;
  font-family: "Special Elite", sans-serif;
}

#yacht {
  background-image: url(images/_116512146_shutterstock_editorial_11592748a.jpg);
  background-repeat: repeat-x;
  background-size: 100%;
  height: 1100px;
}

.footer {
  background-color: #3C3E42;
  height: 50px;
  padding: 10px;
  width: 100%;
}
.footer .footer-list {
  color: #EEAB11;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: "Special Elite", sans-serif;
}

#chess {
  background-image: url(images/18kasparov-music-1-mediumSquareAt3X.jpg);
}

#chimp {
  background-image: url(images/Unknown.jpeg);
}

#hockey {
  background-image: url(images/female-hockey-players-in-action-on-an-astro-turf-pitch-C7FM19.jpg);
}

#penguin {
  background-image: url(images/_111925035_penguino.jpg);
}

#generic1 {
  background-image: url(images/01_BizarreStockPhotos__FrogDog_shutterstock_260998508.jpg);
}

#generic2 {
  background-image: url(images/images.jpeg);
}

.about {
  font-family: "Special Elite", sans-serif;
  position: relative;
  padding: 30px;
  color: royalblue;
  right: 20px;
  border: solid white 5px;
}

.job {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.job .job-container {
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 5px solid chartreuse;
  text-align: center;
}

.projects {
  padding: 30px;
  right: 20px;
}

.project {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.project .project-container {
  padding: 10px;
  width: 500px;
  height: 400px;
  border: 5px solid chartreuse;
  text-align: center;
  color: white;
}

.contact {
  font-family: "Special Elite", sans-serif;
  padding: 30px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 50PX;
  width: 100%;
  height: 800px;
}
.contact-container .contact-form {
  margin: 40px;
  height: 400px;
  width: 550px;
  border: 5px solid greenyellow;
}
.contact-container .contact-form .form {
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #55a5f0;
}
.contact-container .contact-panda {
  margin: 40px;
  height: 400px;
  width: 550px;
  border: 5px solid greenyellow;
}

#nav-link a:link {
  color: #EEAB11;
}

a:visited {
  color: pink;
}

a:hover {
  color: #86E659;
}