@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.navigation {
  background-color: #3C3E42;
  height: 50px;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.navigation .navigation-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: "Special Elite", sans-serif;
}

#home {
  position: relative;
  left: 40px;
  top: 30px;
  font-family: "Special Elite", sans-serif;
}

.yacht {
  background-image: url(images/_116512146_shutterstock_editorial_11592748a.jpg);
  background-repeat: repeat-x;
  background-size: 100%;
}

.section {
  height: 1500px;
}
.section .section-about {
  position: relative;
  padding: 30px;
  color: royalblue;
  right: 20px;
  top: 920px;
  border: solid white 5px;
}
.section .section-projects {
  padding: 30px;
}

.job {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.job .job-container {
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 5px solid chartreuse;
  text-align: center;
  justify-content: center;
}

#nav-link a:link {
  color: #EEAB11;
}

a:visited {
  color: pink;
}

a:hover {
  color: #86E659;
}