@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
nav {
  background-color: #3C3E42;
  color: #EEAB11;
  height: 50px;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: "Special Elite", sans-serif;
}

img {
  width: 100%;
}