
div {
  flex-direction: row;
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  border: green solid 2px;
  color: white;
  font-size: 20px;
}


/* 
-----------------------------
flex-direction: row;


row | row-reverse | column | column-reverse; */

-----------------------------
/* 
flex-wrap: wrap-reverse;

nowrap | wrap | wrap-reverse; */
-----------------------------