.btn-choice {
  text-align: center;
  width: 200px;
  height: 70px;
  background-color: #d3b88c;
  border-radius: 10px;
}

.headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Architects Daughter";
  font-size: 20px;
}

.counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#player-score {
  border: solid red;
  background-color: blue;
  border-radius: 5px;
  padding: 20px;
  color: red;
  font-weight: 400;
  font-size: 30px;
}

#comp-score {
  border: solid blue;
  background-color: red;
  border-radius: 5px;
  padding: 20px;
  color: blue;
  font-weight: 400;
  font-size: 30px;
}

#timer-header {
  position: relative;
  margin: auto;
  color: magenta;
  font-size: 40px;
}

#timer {
  position: relative;
  font-size: 50px;
  color: green;
}

#weopen-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-indent: 5%;
  padding: 20px;
}

.rock-image {
  height: 120px;
  width: 120px;
  padding: 10px;
}

.rock-image:hover {
  cursor: pointer;
  height: 170px;
  width: 170px;
}

.paper-image {
  height: 120px;
  width: 120px;
  padding: 10px;
}

.paper-image:hover {
  cursor: pointer;
  height: 170px;
  width: 170px;
}

.scissors-image {
  height: 120px;
  width: 120px;
  padding: 10px;
}

.scissors-image:hover {
  cursor: pointer;
  height: 170px;
  width: 170px;
}