.btn-choice {
  text-align: center;
  width: 200px;
  height: 70px;
  background-color: #d3b88c;
  border-radius: 10px;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.score-clock {
  border: solid black;
  border-radius: 5px;
}

.headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Architects Daughter";
  font-size: 20px;
}

.counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#player-score {
  color: blue;
  font-weight: 400;
  font-size: 30px;
}

#comp-score {
  color: red;
  font-weight: 400;
  font-size: 30px;
}

#timer {
  font-size: 50px;
  color: green;
}