.btn-choice {
  text-align: center;
  width: 200px;
  height: 70px;
  background-color: #d3b88c;
  border-radius: 10px;
}

.headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Architects Daughter";
  font-size: 20px;
}

.counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#player-score {
  border: solid red;
  background-color: blue;
  border-radius: 5px;
  padding: 20px;
  color: red;
  font-weight: 400;
  font-size: 30px;
}

#comp-score {
  border: solid blue;
  background-color: red;
  border-radius: 5px;
  padding: 20px;
  color: blue;
  font-weight: 400;
  font-size: 30px;
}

#timer-header {
  color: magenta;
  font-size: 40px;
}

#timer {
  font-size: 50px;
  color: green;
}

.rock-image {
  height: 120px;
  width: 120px;
}

.rock-image:hover {
  cursor: pointer;
}

.paper-image {
  height: 120px;
  width: 120px;
}

.paper-image:hover {
  cursor: pointer;
}

.scissors-image {
  height: 120px;
  width: 120px;
}

.scissors-image:hover {
  cursor: pointer;
}