header {
  text-align: center;
  background-color: #230903;
  color: #f4f2f3;
  text-align: center;
}

body {
  background-color: #9ebc9f;
}

.headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Architects Daughter";
  font-size: 20px;
}

.counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selection {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.choice {
  padding: 30px;
}
