header {
  text-align: center;
  background-color: #230903;
  color: #f4f2f3;
  text-align: center;
}

body {
  background-color: #9ebc9f;
}

.clock {
  position: relative;
  margin: auto;
  width: 15%;
  text-align: center;
  border: solid black 5px;
}

.selection {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}